
  <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">{{ current_variant.inventory_quantity }} {{ product.title }} Left!</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-item-header">Your Cart:</div>

        <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Item</th>
                    <th scope="col">Qty</th>
                    <th scope="col">Price</th>
                  </tr>
                </thead>
                <tbody>
                {% for item in cart.items %}
                  <tr> 
                    <td>{{ item.title }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.price | | money_with_currency }}</td>
                  </tr>
                  {%endfor%}
                </tbody>
        </table>
       
        <div class="modal-cart-total">
                Total: {{ cart.total_price | | money_with_currency }}
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Continue Shopping</button>
          <button type="button" class="btn btn-dark">
            <a href="{{ routes.cart_url }}" class="btn btn-dark" role="link" aria-pressed="true">
			View Cart <span>({{ cart.item_count }})</span>
            </a>
            </button>
        </div>
      </div>
    </div>
  </div>

