<div class="page-width">

    {% if section.settings.title != blank %}
        <div class="section-header text-center">
            <h2>{{ section.settings.title | escape }}</h2>
        </div>
    {% endif %}

    {% if section.settings.order == true %}
    <div class="container-fluid">
        <div class="row">
            <div class="card-deck">
                  {% assign products = collection.products | sort: 'title' %}
                  {% for product in products %}
                  <div class="card" style="width: 18rem;">
                      <img src="{{ product | img_url: 'large' }}" class="card-img-top" alt="...">
                      <div class="card-body">
                          <h5 class="card-title">{{product.title}}</h5>
                          <p class="card-text">{{product.price | money_with_currency }}</p>
                          <a href="#" class="btn btn-dark">See Product</a>
                      </div>
                  </div>
                  {% endfor %}
              </div>
          </div>
      </div>

      {%else%}     
      
      <div class="container-fluid">
          <div class="row">
              <div class="card-deck">
                    {% for product in collection.products %}
                    <div class="card" style="width: 18rem;">
                        <img src="{{ product | img_url: 'large' }}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{product.title}}</h5>
                            <p class="card-text">{{product.price | money_with_currency }}</p>
                            <a href="#" class="btn btn-dark">See Product</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
      
{% endif %}


    
       
      

      {% schema %}
      {
        "name": "collection select",
        "class": "index-section",
        "settings": [
            {
                "type": "text",
                "id": "title",
                "label": "Heading",
                "default": "Selected Collection"
            },
            {
                "id": "collection",
                "type": "collection",
                "label": "Collection"
            },
            {
              "type": "checkbox",
              "id": "order",
              "label": "Order by Title",
              "default": false
          }
        ],
        "presets": [
            {
                "name": "Collection Select",
                "category": "Collection"
            }
        ]
    }
      {% endschema %}
      